
#qut{
    border:  solid black 2px;
    font-weight: bold;
    color: green;
    border-radius: 10px;
    font-style: italic;
}

.hed{
    color: white;
    
}

.chos{

    padding: 15px;
    font-size: large;
}

#ques{
    padding: 5px;
}

#eved{
    padding: 5px;
}

#conc{
    padding: 5px;
}
#tb{
    border:  solid black 2px;
    padding: 10px;
    color: black;
    border-radius: 10px;
    min-height: 50vh;

}

#disp{
    border:  solid black 2px;
    padding: 10px;
    color: black;
    border-radius: 10px;
    min-height: 75vh;
    
}

#topics{
    border:  solid black 2px;
    padding: 5px;
    color: black;
    border-radius: 10px;
    
    
}

#disp2{
    border:  solid black 2px;
    padding: 5px;
    color: black;
    border-radius: 10px;
    overflow: scroll;
    height: 30vh;
    
    
    
    
}

#footer{
    
    color: white;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    
    
}

#ftt{
    margin-top: 5px;
}



