* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
   
   
  }
  
  body {
    margin: 0;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    
  
    
  }
  
  
  
  
  .bg-mg{
  
    
    background-image: url(library.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    background-position:top;
    background-attachment:fixed;
    width: 100vw;
    min-height: 100vh;
    
    
    
  
  }
  
  
  
  
  #mainheading h1 {
    text-decoration: none;
    padding: 10px;
  }
  
  h1,
  h2 {
    text-align: center;
    padding: 10px;
  }
  
  a {
    color: yellow;
  }
  
  ul li ul li {
    margin: 20px;
  }
  #main {
    font-size: 20px;
  
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    
  
    
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
   
  }
  
  .background {
    background-color: rgb(218, 144, 53);
  }
  
  .main-content {
    color: white;
    margin-left: auto;
    margin-right: auto;
    
    
  }
  
  #container ul li ul {
    padding: 10 px;
    margin: 20px;
  }
  
  #flex-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  
    justify-content: space-around;
    align-items: center;
  }
  
  #flex-item1 {
    padding: 10px;
    margin: 5px;
    align-self: stretch;
    
  }
  
  #flex-item2 {
    padding: 10px;
    margin: 5px;
    align-self: stretch;
  }
  
  #flex-item3 {
    padding: 10px;
    margin: 5px;
    align-self: stretch;
  }
  
  #context h3 {
    text-align: center;
  }
  
  
  #context h2 {
    text-align: center;
    text-decoration: underline;
  }
  
  #header button {
    width: 110px;
  
    padding: 10px;
    margin: 10px;
  
    background-color: green;
    border-radius: 10px;
  }
  
  #header button a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: yellow;
    font-size: 18px;
  }
  
  #twt{
    margin-left: 20px;
  }
  
  p,li{
    
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .button-group {
    text-align: center;
  }
  .button {
    min-width: 100px;
    border-radius: 5px;
    color: blue;
    height: 40px;
  }
  
  .button a{
    color: blue;
    padding: 10px;
    
  }
  
  #context {
    margin: 10px;
  }
  
  #header {
    background-color: red;
    color: white;
    text-align: center;
  
    margin: 10px;
  }
  
  .button-group {
    text-align: center;
  }
  .button {
    min-width: 100px;
    border-radius: 5px;
    color: blue;
  
    padding: 5px;
  }
  
  #mainheading{
    min-width: 100vw;
  }
  #context {
    padding: 50px;
  
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  #footer {
    clear: both;
     padding:20px;
    color: white;
    text-align: right;
  }
  